.cont {
    margin: 15px auto;
    width: 92%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 1em;
}

.cont * {
    font-size: large;
}

#instruc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-end: span 3;
    height: 505px;
    background-color: #b8daff;
    border-radius: 25px;
    color: #004085;
    padding: 10px;
}

#titulo {
    grid-column-end: span 4;
    text-align: left;
    font-size: x-large;
    margin: 15px;
}

#content {
    grid-column-end: span 6;
    grid-row-end: span 11;
    overflow-y: auto;
    max-height: 96%;
    text-align: left;
    margin: 10px;
}

table {
    margin: 0;
}

.badge {
    padding: 8px;
    width: fit-content;
    height: fit-content;
    margin: 15px;
}

#precio {
    grid-column-start: 5;
}

#coste {
    grid-column-start: 6;
}

.cont ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 505px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.cont li {
    margin: 2px 0;
    cursor: pointer;
}

.cont li:hover {
    background-color: #bee5eb;
}